.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 50px;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  max-width: 450px;
  margin-bottom: 30px;
  line-height: 1.6;
  opacity: 0.8;
}

.btn-main {
  padding: 12px 25px;
  background: #2563EB;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.btn-main:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.hero-image img {
  width: 330px;
  filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.5));
}
